*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    background-color: #202632;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card-main{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background-color: #313a49;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.btn{
    all: unset;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-div{
    margin-top: -25px;
}
.dicee{
    font-size: 23px;
}