*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    background-color: #202632;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.card-main{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background-color: #313a49;
    padding: 25px;
}